body {
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
    color: #323232;
    background: #FFF;
    margin: 0px;
    padding: 0px !important;
    font-size: 14px;
}
.main-bg-img{
    height: auto;
    width: 100%;
}
.main-bg-img-sm{
    height: auto;
    width: 100%;
    display: none;
}
.home-page{
    position: relative;
}
.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
.wrapper a{
    height: 100%;
    width: 100%;
}
.logos-row{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #6F0809; */
    margin-top: -3px;
    padding: 0px 0px;
   
}
.logos-row-img{
    width: 150px;
    height: auto;
}
.logos-row-img img{
    height: 100%;
    width: 100%;
}
/* .logo-bau{
    height:100px !important;
    width: 100px !important;
} */
.logos{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40vw;
    margin-bottom: 20px;
}

@media screen and (min-width: 1600px) {
    .logos{
        margin-bottom: 60px;
    }
}
@media screen and (min-width: 2200px) {
    .logos{
        margin-bottom: 120px;
    }
}
@media screen and (max-width: 767px) {
    .logos-row{
        display: none !important;
    }
    .main-bg-img{
        display: none;
    }
    .main-bg-img-sm{
        display: block;
    }
    body{
        background-color: #6F0809;
    }
  }